 #formContainer {
    border: 1px solid antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(700px, 80%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    border-radius: 5%;

}  

.login {
    width: 100%;
}

.login-l {
    position: relative;
}


.login-r{
    
    background-color:antiquewhite;
 
    
}

#formContainer > * {
    //outline: 1px solid red;
    flex: 1 0;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
   

    }




