



.ul {
    list-style-type: none;
}


.logo {
    width: 10rem;
    
}


/* Swiper */







.MySwiper {
    width: 50%;
}

body {
    position:
    height: 100%;
  }




.swiper {
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px; 
}

.Swipe {
    background-position: center;
    width: 300px;
    padding: 20;
}

.img {
    display: block;
    width: %; 
}