



.ul {
    list-style-type: none;
}


.logo {
    width: 10rem;
    
}


/* Swiper */







.MySwiper {
    width: 50%;
}





.swiper {
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px; 
}
